#touchdiv {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid black;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;

  /*border: solid red 1px;*/
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  pointer-events: none;
}

#drawing {
  float: left;
  position: absolute;
  overflow: visible;
  z-index: 10;
}

#overlay-drawing {
  float: left;
  position: absolute;
  overflow: visible;
  z-index: 20;

}

#forms {
  position: absolute;
  float: left;
  z-index: 100;
}

.log {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  /*background-color: black;*/
  position: absolute;
  left: 0px;
  top: 0px;
  border: solid blue 1px;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: courier;
  font-size: 100%;
  height: 100%;
  width: 100%;

}

line {
  stroke-width: 1;
  stroke: rgb(0,0,0);
}

polyline {
  stroke-width: 1;
  stroke: rgb(0,0,0);
  fill: none;
}

polygon {
  stroke-width: 1;
  stroke: rgb(0,0,0);
  fill: none;
}

@font-face {
    font-family: Bravura;
    src: url(Bravura.otf);
}

@font-face {
  font-family: Boulez;
  src: url(Boulez.ttf)
}

@font-face {
  font-family: HE-Maestro;
  src: url(HEmaestro.ttf);
}
.basestyle {
  font-size: 10pt;
  font-family: Arial;
  font-weight: normal;
	margin: 0em;
	padding: 15px 15px;
}

.bravura_text {
    font-size: 24pt;
    font-family: "Bravura";
}

.title{
    margin-left: 20px;
}

.links {
    margin-top: 10px;
    margin-left: 20px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.loc {
  color: white;
  font-size: 40%;
}

.min {
  color: black;
}

.ms {
  color: black;
}

.pageIndex {
  color: black;
  font-size: 40%;
}

.err {
  color: red;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border:  2px solid black;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40%;
  margin: 4px 2px;
  cursor: pointer;
}
